.DS_Store
.vscode
.idea
.venv/
.claude/

node_modules/
__pycache__/
azuregpt4o.txt
test.py
results/
generated_pipelines/
generated_prompts/
validations/
messages/
intermediates/
converted_data/
checker_intermediate/
CUAD_v1.json