[submodule "baselines/Unify"]
	path = baselines/Unify
	url = git@github.com:TsinghuaDatabaseGroup/Unify.git
[submodule "baselines/lotus"]
	path = baselines/lotus
	url = git@github.com:lotus-data/lotus.git
[submodule "baselines/docetl"]
	path = baselines/docetl
	url = git@github.com:ucbepic/docetl.git
[submodule "benchmarks/Kramabench"]
	path = benchmarks/Kramabench
	url = git@github.com:mitdbg/Kramabench.git
[submodule "benchmarks/DSBench"]
	path = benchmarks/DSBench
	url = git@github.com:LiqiangJing/DSBench.git
[submodule "benchmarks/CRAG"]
	path = benchmarks/CRAG
	url = git@github.com:facebookresearch/CRAG.git
